//FONTS
@font-face {
    font-family: 'Gafta';
    src: url('../assets/fonts/Gafata-Regular.ttf');
}

@font-face {
    font-family: 'Bungee-Regular';
    src: url('../assets/fonts/Bungee-Regular.ttf');
}


// USAGE
body {
    font-family: 'Gafta', sans-serif;
    background-color: #522d5b;
    font-size: 1.3rem;
    color: #e7d39f;
}

span {
    color: #d7385e;
}


// SITE HEADER

.logo-container {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .logo {  
        margin-right: 3px;
        margin-left: 3px;
    }

    .logo-container-circles {
        border: 1px solid #d7385e;
        width: 35px;
        height: 29px;
        border-radius: 50%;
        background-color: #d7385e;  
    }

    i {
        color: #d7385e;
        font-size: 2em;
        margin-right: 10px;
    }

    .logo h1 {
        color: #e7d39f;
        margin-bottom: 82px;
        font-family: 'Bungee-Regular', sans-serif;

        span {
            color: #d7385e;
        }
    }
}

// MAIN ABOUT SECTION

.main-section-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 69px;

    .about-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 383px;
            border-radius: 5%;
            height: 359px;
        }

        p {
            width: 383px;
            line-height: 1.4;
            font-weight: bolder;
            text-shadow: 1px 1px black;
        }
    }

    .skills-outer-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        text-align: center;

        .skill-container-title {
          margin-top: 0;  
        }

        h3,
        h2 {
            color: #d7385e;
        }

        .skills-inner-container {
            display: flex;
            justify-content: space-evenly;

            .skill-box {
                display: flex;
                flex-direction: column;
                width: 44%;
                align-items: center;

                i {
                    font-size: 2rem;
                }

                p {
                    line-height: 1.4;
                    font-weight: bolder;
                    text-shadow: 1px 1px black;
                    height: 148px;
                }
            }
        }
    }
}

// PROJECT GALLERY

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 141px;
    margin-bottom: 137px;

    .projects-container-title {
        transform: rotate(-50deg);
        // height: -22px;
        text-decoration: underline;  
    }

    .project-box {
        display: flex;
        flex-direction: column;
        margin-right: 22px;
        text-align: center;
        background-color: #d7385e;
        padding: 19px;
        border-radius: 5%;
        box-shadow: 2px 2px 2px 2px black;
        width: 25%;

        .tech-info {
          text-align: left;  
        }

        .pin-icon {
            font-size: 2.1rem;
            text-align: left;
            margin-bottom: 17px; 
        }

        img {
            border-radius: 6%;
        }
    }
}

// FOOTER

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-social-box {
        width: 200px;
        display: flex;
        justify-content: space-evenly;

        a {
            border: 0;
            background-color: #d7385e;
            border: 50%;
            padding: 12px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            color: #e7d39f;
            cursor: pointer;
            text-align: center;

            i {
                font-size: 1.2rem;
            }
        }

        a:hover {
            background-color: #d8224dc7
        }

        a:active {
            background-color: #d8224dc7;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}


// RESPONSIVE

@media (max-width: 952px) {
    body {
        font-family: 'Gafta', sans-serif;
        background-color: #522d5b;
        font-size: 1rem;
        color: #e7d39f;
    }
}

@media (max-width: 660px) {
    .main-section-container {
        display: flex;
        justify-content: end;
        margin-bottom: 69px;
        flex-direction: column;

        .about-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            border-right: none;
            padding-right: 0px;

            width: 100%;

            border-bottom: 1px solid;
            padding-bottom: 19px;

            p {
                width: 84%;
            }
        }

        .skills-outer-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    .projects-container .project-box {
        margin-right: 0px;
        margin-bottom: 22px;
    }
}